<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block html_title %}{% endblock %}</title>
  <meta charset="utf-8">
</head>
<body>
  <div id="root"></div>
  <script type="text/javascript" src="{{ static('js/script.js') }}"></script>
</body>
</html>
