@font-face
  font-family 'Material Icons'
  font-style normal
  font-weight 400
  src url("../fonts/MaterialIcons-Regular.eot")
  src local('Material Icons'),
       local('MaterialIcons-Regular'),
       url("../fonts/MaterialIcons-Regular.woff2") format('woff2'),
       url("../fonts/MaterialIcons-Regular.woff") format('woff'),
       url("../fonts/MaterialIcons-Regular.ttf") format('truetype')

@font-face
  font-family "Open Sans"
  font-style normal
  font-weight 400
  src local('Open Sans'), local('OpenSans'), url("../fonts/OpenSans-Regular.ttf") format('truetype')

@font-face
  font-family "Open Sans"
  font-style normal
  font-weight 300
  src local('Open Sans Light'), local('OpenSans-Light'), url("../fonts/OpenSans-Light.ttf") format('truetype')

@font-face
  font-family "Open Sans"
  font-style normal
  font-weight 600
  src local('Open Sans Semibold'), local('OpenSans-Semibold'), url("../fonts/OpenSans-Semibold.ttf") format('truetype')

@font-face
  font-family "Open Sans"
  font-style normal
  font-weight 700
  src local('Open Sans Bold'), local('OpenSans-Bold'), url("../fonts/OpenSans-Bold.ttf") format('truetype')
