@import 'reset'
@import 'variables'
@import 'fonts'

.icons
  font-family 'Material Icons'
  font-weight normal
  font-style normal
  font-size 24px
  display inline-block
  width 1em
  height 1em
  line-height 1
  text-transform none
  letter-spacing normal
  word-wrap normal
  white-space nowrap
  direction ltr
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility
  -moz-osx-font-smoothing grayscale
  font-feature-settings 'liga'
  &.md-18
    font-size 18px
  &.md-24
    font-size 24px
  &.md-36
    font-size 36px
  &.md-48
    font-size 48px
  &.md-dark
    color rgba(0, 0, 0, 0.54)
    &.md-inactive
      color rgba(0, 0, 0, 0.26)
  &.md-light
    color rgba(255, 255, 255, 1)
    &.md-inactive
      color rgba(255, 255, 255, 0.3)

html, body
  height 100%

#root
  position relative
  min-height 100%
  background-color rgb(89, 95, 167)
  z-index 0

#header
  z-index 2
  position fixed
  width 100%
  height header-height
  background-color #FFF

.menu-icon
  text-align center
  padding-top 7px
  font-size 36px
  width 50px
  height 43px
  margin 6px
  color rgb(70, 75, 134)
  cursor pointer
  @media media-lg-min
    display none

.content
  width 100%
  min-width xs
  max-width xl-max
  margin 0 auto

.logo-a
  display block
  width header-height
  height header-height
  float left
  @media media-md-max
    float right

.logo
  width 50px
  height 50px
  margin 6px
  float left

.menu-elements-top
  float right
  position relative
  @media media-md-max
    display none
  .menu-button
    font-weight 700
    float right
    text-transform uppercase
    margin 12px 0

.menu-elements-left
  position absolute
  top 0
  left 0
  width menu-elements-left-width
  min-height 100%
  background-color rgb(255, 255, 255)
  z-index z-max - 3
  .menu-button
    font-weight 700
    float left
    text-transform uppercase
    width 100%
    font-size 15px
    height 42px
    text-align left
    border-radius 0

.menu-logo
  width 100%
  height 40px
  background-color rgb(89, 95, 167)
  font-family font1
  font-size 26px
  font-weight 700
  color #FFF
  text-align center
  padding-top 12px

.menu-content
  position fixed
  top 0
  left 0
  width 100%
  min-height 100%
  z-index z-max - 4
  @media media-lg-min
    display none

.menu-wrapper
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(0, 0, 0, .5)
  cursor pointer
  z-index z-max - 4

.menu-transition-enter
  .menu-wrapper
    opacity 0
  .menu-elements-left
    left - menu-elements-left-width
  &.menu-transition-enter-active
    .menu-wrapper
      opacity 1
      transition opacity 300ms ease-in-out
    .menu-elements-left
      left 0
      transition left 300ms ease-in-out

.menu-transition-leave-active
  .menu-wrapper
    opacity 0
    transition opacity 300ms ease-in-out
  .menu-elements-left
    left - menu-elements-left-width
    transition left 300ms ease-in-out


#content
  z-index 1
  padding-top header-height
  padding-bottom footer-height
  @media media-xs
    padding-bottom footer-height-xs
  @media media-md
    padding-bottom footer-height-md
  @media media-lg
    padding-bottom footer-height-lg
  @media media-xl
    padding-bottom footer-height-xl

#footer
  background-color #FFF
  position absolute
  left 0
  bottom 0
  width 100%
  height footer-height
  @media media-xs
    height footer-height-xs
  @media media-md
    height footer-height-md
  @media media-lg
    height footer-height-lg
  @media media-xl
    height footer-height-xl

#footer-wrapper
  position relative
  // padding 0 12px
  margin 20px auto 0px

#footer-left-side
  position relative
  width 100%
  max-width 564px
  float left
  @media media-xl-max
    float none
    margin 0 auto

#footer-right-side
  position relative
  width 100%
  max-width 564px
  float right
  @media media-xl-max
    float none
    margin 0 auto

.footer-block
  width 280px
  height 130px
  margin 0 0 6px
  padding 0 0 0 2px
  float left
  @media media-md-max
    float none
    margin 0 auto 6px
  span, a
    text-decoration none
    height 23px
    font-family font1
    font-weight 400
    font-size 14px
    color rgb(183, 183, 183)
    display block
    transition color 110ms ease-in-out
  a:hover
    transition color 110ms ease-in-out
    color alpha(rgb(70, 75, 134), .75)

.footer-title
  height 30px !important
  color rgb(70, 75, 134) !important
  font-weight 600 !important
  text-transform uppercase


.button
  line-height normal
  display inline-block
  text-decoration none
  text-align center
  vertical-align middle
  white-space nowrap
  outline none
  box-sizing border-box
  -moz-outline none
  font-family font1
  padding 10px 15px
  color rgb(70, 75, 134)
  font-size 14px
  cursor pointer
  background-color rgb(255, 255, 255)
  border-radius 4px
  border none
  transition background-color 110ms ease-in-out
  &:hover
    transition background-color 110ms ease-in-out
    background-color rgb(238, 238, 238)

.button-gray
  background-color rgb(238, 238, 238)
  &:hover
    background-color rgb(201, 201, 201)



