xs = 300px
md = 768px
lg = 992px
xl = 1200px

z-max = 100

xs-min = 0
xs-max = xs
md-min = xs + 1
md-max = md
lg-min = md + 1
lg-max = lg
xl-min = lg + 1
xl-max = xl

media-xs = 'all and (max-width: ' + xs-max + ')'
media-md = 'all and (min-width: ' + md-min + ') and (max-width: ' + md-max + ')'
media-lg = 'all and (min-width: ' + lg-min + ') and (max-width: ' + lg-max + ')'
media-xl = 'all and (min-width: ' + xl-min + ') and (max-width: ' + xl-max + ')'

media-xs-max = 'all and (max-width: ' + xs-max + ')'
media-md-max = 'all and (max-width: ' + md-max + ')'
media-lg-max = 'all and (max-width: ' + lg-max + ')'
media-xl-max = 'all and (max-width: ' + xl-max + ')'

media-xs-min = 'all and (min-width: ' + xs-min + ')'
media-md-min = 'all and (min-width: ' + md-min + ')'
media-lg-min = 'all and (min-width: ' + lg-min + ')'
media-xl-min = 'all and (min-width: ' + xl-min + ')'


header-height = 64px

footer-height = 185px
footer-height-xs = 604px
footer-height-md = 604px
footer-height-lg = 335px
footer-height-xl = 335px

menu-elements-left-width = xs-max - 45

font1 = "Open Sans", Arial, Helvetica, sans-serif

